.admin_index{
    text-align:center;
}

.admin_index button{
    margin:12px auto;
    display:block;
}

.admin_block table{
    border-collapse: collapse;
    width: 80%;
    margin: 24px auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    border-radius: var(--radius);
}

.admin_block table td{
    padding: 8px;
}

.admin_block tr:nth-child(even){
    background-color: #d5d5d5;
}
.admin_block tr:hover{
    background-color: #b5b5b5;
    cursor:pointer;
}
.admin_block th{
    padding:12px;
    text-align: left;
    background-color: var(--primaryColor);
    color: white;
}
