body{
    margin:0;
    padding:0;
    --navigation-height: 40px;
    --dropdown-width: 160px;
    --cardWidth: 250px;
    --cardHeight: 220px;
    --latestViewHeight:500px;
    --primaryColor:#b54758;
    --primaryColorLighter: #e1586d;
    --primaryColorDarker: #712c36;
    --secondaryColor:#6479ab;
    --secondaryColorLighter: #7f99d8;
    --secondaryColorDarker: #384462;
    --backgroundColor:#dee6f4;
    --textColor: #131113;
    --textColorHover: #322d32;
    --radius:4px;
    background-color:var(--backgroundColor);
    color:var(--textColor);
    font-family: 'Open Sans', sans-serif;
}


.hidden{
    display:none;
}

.name{
    font-family: 'Pacifico', cursive;
    margin: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 2px;
}

button{
    padding: 12px 32px;
    background-color:var(--primaryColor);
    border:1px solid var(--primaryColorLighter);
    border-radius: var(--radius);
    cursor:pointer;
    transition:0.3s;
    color:var(--backgroundColor);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

button:hover{
    background-color:var(--primaryColorLighter);
    border-color: var(--primaryColor);
}

