.navigation{
    height:var(--navigation-height);
    background-color:var(--primaryColor);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    position:relative;
}

.navigation img{
    height: var(--navigation-height);
    transition:0.3s;
}

.navigation img:hover{
    filter: invert(15%) sepia(7%) saturate(609%) hue-rotate(251deg) brightness(99%) contrast(92%);
}

.navigation .user-options{
    position:absolute;
    right:5px;
    top:12px;
    font-size:0.7em;
    cursor:pointer;
    transition:0.3s;
}

.navigation .user-options:hover{
    color:var(--textColorHover)
}

.navigation .dropdown{
    width: var(--dropdown-width);
    position: absolute;
    top: var(--navigation-height);
    right: -2px;
}

.navigation .dropdown .btn{
    display:block;
    background-color:var(--primaryColor);
    width: var(--dropdown-width);
    padding:10px 20px;
    margin:-2px;
    border: 1px solid var(--primaryColorDarker);
    cursor:pointer;
    transition:0.3s;
    color:var(--textColor);
    text-decoration:none;
}

.navigation .dropdown .btn:hover{
    background-color:var(--primaryColorLighter);
}

.navigation .menu{
    position:absolute;
    top: 8px;
    left: 80px;
}

.navigation .menu .menu-btn{
    padding: 0 20px;
    cursor: pointer;
    transition:0.3s;
}

.navigation .menu .menu-btn:hover{
    color:var(--textColorHover);
    font-size:1.1em;
}
