.profile{
    width: 90%;
    margin: 150px 5% 10px 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    border-radius: var(--radius);
    white-space: nowrap;
    position:relative;
    top:50%;
    min-height: 250px;
    padding-top:125px;
    text-align:center;
}

.profile-pets .card .rating{
    display:none;
}

.profile-pets h2{
    margin-left: 5%;
}

.profile .owner-picture{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: -116px;
    left: 50%;
    transform: translate(-50%,0);
    border-top: 2px solid var(--primaryColor);
}

.profile .name{
}

.profile .fav,
.profile .message{
    position:absolute;
    top: 2%;
}

.profile .message{
    left: 5%;
}

.profile .fav{
    right: 5%;
}

.profile .type{
    margin: -7px 0 10px 0;
    color: var(--primaryColor);
}

/*PROFILE EDITING*/
.profile-edit{
    text-align:center;
}

.profile-edit input,
.profile-edit select,
.profile-edit #location,
.profile-edit #type,
.profile-edit #cke_profile{
    cursor: pointer;
    background-color: white;
    border: solid 1px var(--primaryColor);
    padding: 8px;
    border-radius: var(--radius);
    width:80%;
    margin:auto;
    box-sizing: border-box;
    text-align: center;
}

.profile-edit #cke_profile{
    padding:1px;
}

.profile-edit label{
    display:block;
    margin-top:12px;
}

.profile-edit .forminput.age{
    display:inline;
}

.profile-edit .forminput.file input{
    text-align:left;
    width:calc(80% - 60px);
}

#age_day{
    width:20%;
}
#age_month{
    width:39%;
}
#age_year{
    width:20%;
}

.profile-edit #profile{
    height: 300px;
}

.profile-edit .owner-picture {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    transform: translate(0,45%);
    border-top: 2px solid var(--primaryColor);
}

.profile-edit .forminput.file label{
    margin-bottom: -26px;
}

.profile-edit button{
    margin:20px;
}

