.profile{
    width: 90%;
    margin: 150px 5% 10px 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    border-radius: var(--radius);
    white-space: nowrap;
    position:relative;
    top:50%;
    min-height: 250px;
    padding-top:125px;
    text-align:center;
}

.profile-pets .card .rating{
    display:none;
}

.profile-pets h2{
    margin-left: 5%;
}

.profile .owner-picture{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: -116px;
    left: 50%;
    transform: translate(-50%,0);
    border-top: 2px solid var(--primaryColor);
}

.profile .name{
}

.profile .fav,
.profile .message{
    position:absolute;
    top: 2%;
}

.profile .message{
    left: 5%;
}

.profile .fav{
    right: 5%;
}

.profile .type{
    margin: -7px 0 10px 0;
    color: var(--primaryColor);
}



